* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
}

body{
    background-color:#111;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    min-width:373px;
    font-size:14px;
}

.nav-link{
    color:#fff;
    text-transform:uppercase;
}

.fa-solid{
    background-color:#ffb400;
    border-radius: 50%;
    padding:10px;
}

i:hover{
    color:#fff;
}
.navbar-toggler{
    background-color:#ffb400;
}

.nav-link:visited{
    color:#fff;
}

.nav-link:hover{
    color:#ffb400;
}

.container-home{
    display:flex;
    align-items:center;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.home-details-container{
    padding:30% 5% 0% 8%;
}

.align-items-center{
    align-items:center !important;
}

.text-left{
    text-align:left!important;
}

.image{
    width:230px;
    height:230px;
    display:none;
    border-radius:50%;
    border:4px solid #534f4f;
    margin:0 auto 25px;
    vertical-align:middle;
}

h1{
    font-size:29px;
    font-weight:600;
    line-height:39px;
    color:#ffb400;
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
}

h1 span{
    display:block;
    padding: 0 0 0 0;
    color:#fff;
}

.description{
    font-family:'Open sans', sans-serif;
    padding:0 0 0 0;
    font-size:14px;
    font-weight:0;
    line-height:28px;
} 

.button{
    color:#fff;
    font-weight:600;
    border-radius:25px;
    text-decoration:none;
    text-transform:uppercase;
}

.button-text{
    font-size:14px;
}

.button:hover{
    background-color:#ffb400;
}

.button-icon{
    font-size:15px;
    background-color:#ffb400;
    padding:5px 10px 4px 5px;
    border-radius:50%;
}

@media(min-width:768px){
    .home-details-container{
        padding:5% 5% 0% 5%;
    }

    .text-left{
        text-align:center!important;
    }

    .image{
        width:250px;
        height:250px;
        display:block;
    }

    h1{
        font-size:36px;
        font-weight:700;
        line-height:39px;
        color:#ffb400;
    }

    h1 span{
        padding:5px 0 0 0;
    }

    .description{
        font-family:'Open sans', sans-serif;
        padding:0 10%;
        font-size:16px;
        font-weight:0;
        line-height:28px;
    } 

    .button-text{
        font-size:16px;
    }
}

@media (min-width: 815px) {
    .description{
        padding:0 10%;
    }
}

@media (min-width: 885px) {
    .description{
        padding:0 15%;
    }
}

@media (min-width:992px) {
    .navbar > .container-fluid{
        flex-direction:column;
    }  

    .container{
        margin-top:6px;
        padding-top:6px;
        display:flex;
        align-items: center;
    }

    .image{
        width:300px;
        height:300px;
        display:block;
        border-radius:10%;
    }

    h1{
        font-size:36px;
        font-weight:550;
        line-height:39px;
        color:#ffb400;
        font-family: 'Poppins', sans-serif;
        text-transform:uppercase;
    }

    h1 span{
        padding:5px 0 0 0;
    }

    .description{
        font-family:'Open sans', sans-serif;
        padding:0 5%;
        font-size:16px;
        font-weight:0;
        line-height:28px;
    } 

    .button{
        color:#fff;
        font-weight:500;
        border-radius:25px;
        text-decoration:none;
        text-transform:uppercase;
    }
    
    .button-text{
        font-size:18px;
    }
    
    .button:hover{
        background-color:#ffb400;
    }
    
    .button-icon{
        font-size:18px;
        background-color:#ffb400;
        padding:5px 10px 4px 5px;
        border-radius:50%;
    }
}

@media (min-width: 1024px) {
    .home-details-container{
        padding:0%;
    }

    .align-items-center{
        text-align:left;
    }
    .container{
        margin-top:0px;
        padding-top:0px;
        display:flex;
        align-items: center;
    }

    .image{
        width:350px;
        height:400px;
        display:block;
        border-radius:10%;
    }

    h1{
        font-size:40px;
        font-weight:550;
        line-height:39px;
        color:#ffb400;
        font-family: 'Poppins', sans-serif;
        text-transform:uppercase;
    }

    h1 span{
        padding:15px 100px 0 0px;
    }

    .description{
        font-family:'Open sans', sans-serif;
        text-align:left!important;
        padding:0 0 0 15%;
        font-size:16px;
        font-weight:0;
        line-height:36px;
    } 

    .button{
        color:#fff;
        font-weight:500;
        border-radius:25px;
        text-decoration:none;
        text-transform:uppercase;
    }
    
    .button-text{
        font-size:18px;
    }
    
    .button:hover{
        background-color:#ffb400;
    }
    
    .button-icon{
        font-size:18px;
        background-color:#ffb400;
        padding:5px 10px 4px 5px;
        border-radius:50%;
    }
}

@media (min-width: 1200px) {
    .description{
        padding:0 0 0 23%;
    } 
}






































/* * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
}

::after, ::before{
    box-sizing: border-box;
}
body{
    background-color:#111;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    min-width:373px;
}

.container{
    display:flex;
    flex-direction:column;

}
.navbar {
    padding-top:20px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-around;
}

.navbar li>a{
    color:#fff;
    background-color:#2b2a2a;
    padding:10px;
    border-radius:50%;
    border:1px solid #111;
}

.navbar li{
    padding:18px;
    font-size:medium;
}

.navbar a:hover, .navbar a.active, .navbar:visited{
    color:#fff;
    border-radius:50%;
    background-color:#ffb400;
}

.author__image {  
    margin:10px auto;
    padding:5vw 0;
    width:50%;
    align-items:center;
}

.image{
    display:none;
    width:100%;
    border-radius:20px;
    border-left:5px solid #ffb400;
    border-bottom:5px solid #ffb400;
}

.author__content {
    margin:0;
    text-align:center;
    line-height: 30px;
}

.author__name{
    font-size:30px;
    color:#ffb400;
    line-height:40px;
}

.author__subname {
    display:block;
    padding-top:5px;
    color:#fff;
    text-align:left;
    padding-left:30px;
}

.author__description {
    font-size:16px;
    padding:0px 25px 0px 25px;
    margin:13px 0 23px;
    text-align: left!important;
}

.author__about__link{
    display:inline-block;
    color:#fff;
    width:50%;
    padding:10px;
    font-size:20px;
    font-weight:600;
    border: 2px solid #ffb400;
    border-radius:10px;
    text-transform: uppercase;
}

.author__about__link:hover, .author__about__link:active{
    color:#fff;
  background-color:#ffb400;
  border:1px solid #111;
}

@media (max-width:576px) {
    .author__name {
        font-size: 29px;
        line-height: 39px;
        margin: 18px 0 13px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .navbar {
        padding-top:15px;
    }

    .navbar li{
        padding:25px;
        font-size:20px;
    }

    .author__image {  
        margin:10px auto 0px auto;
        padding:2vw 0 1vw 0;
        width:25%;
        align-items:center;
    }
    
    .image{
        width:100%;
        border-radius:50%;
        border:8px solid #343131;
    }

    .author__content{
        line-height:48px;
        text-align:center!important;
    }

    .author__name{
        font-size:32px;
        font-weight:600;
        line-height:35px;
    }

    .author__subname {
        font-size:32px;
        font-weight:700;
        text-align:center!important;
    }

    .author__description{
        font-size:15px;
        padding:5px 35px 20px 35px;
        margin:0px 110px; 
        line-height:30px;
        text-align:center!important;
    }

    .author__about__link{
        width:25%;
        padding:0px;
        font-size:14px;
        border-radius: 20px; 
        border: 1px solid #ffb400;
    }
} */