* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
}

body{
    background-color:#111;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    min-width:373px;
    font-size:14px;
}

header {
    background-color:#2a2a2a;
}
.nav-link{
    color:#fff;
    text-transform:uppercase;
}

.fa-solid{
    background-color:#ffb400;
    border-radius: 50%;
    padding:10px;
}

i:hover{
    color:#fff;
}
.navbar-toggler{
    background-color:#ffb400;
}

.nav-link:visited{
    color:#fff;
}

.nav-link:hover{
    color:#ffb400;
}

.container-home{
    display:flex;
    align-items:center;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.home-details-container{
    padding:30% 5% 0% 8%;
}

.align-items-center{
    align-items:center !important;
}

.text-left{
    text-align:left!important;
}

.image{
    width:230px;
    height:230px;
    display:none;
    border-radius:50%;
    border:4px solid #534f4f;
    margin:0 auto 25px;
    vertical-align:middle;
}

h1{
    font-size:29px;
    font-weight:600;
    line-height:39px;
    color:#ffb400;
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
}

h1 span{
    display:block;
    padding: 0 0 0 0;
    color:#fff;
}

.description{
    font-family:'Open sans', sans-serif;
    padding:0 0 0 0;
    font-size:14px;
    font-weight:0;
    line-height:28px;
} 

.button{
    color:#fff;
    font-weight:600;
    border-radius:25px;
    text-decoration:none;
    text-transform:uppercase;
}

.button-text{
    font-size:14px;
}

.button:hover{
    background-color:#ffb400;
}

.button-icon{
    font-size:15px;
    background-color:#ffb400;
    padding:5px 10px 4px 5px;
    border-radius:50%;
}

@media(min-width:768px){
    .home-details-container{
        padding:5% 5% 0% 5%;
    }

    .text-left{
        text-align:center!important;
    }

    .image{
        width:250px;
        height:250px;
        display:block;
    }

    h1{
        font-size:36px;
        font-weight:700;
        line-height:39px;
        color:#ffb400;
    }

    h1 span{
        padding:5px 0 0 0;
    }

    .description{
        font-family:'Open sans', sans-serif;
        padding:0 10%;
        font-size:16px;
        font-weight:0;
        line-height:28px;
    } 

    .button-text{
        font-size:16px;
    }
}

@media (min-width: 815px) {
    .description{
        padding:0 10%;
    }
}

@media (min-width: 885px) {
    .description{
        padding:0 15%;
    }
}

@media (min-width:992px) {
    .navbar > .container-fluid{
        flex-direction:column;
    }  

    .container{
        margin-top:6px;
        padding-top:6px;
        display:flex;
        align-items: center;
    }

    .image{
        width:300px;
        height:300px;
        display:block;
        border-radius:10%;
    }

    h1{
        font-size:36px;
        font-weight:550;
        line-height:39px;
        color:#ffb400;
        font-family: 'Poppins', sans-serif;
        text-transform:uppercase;
    }

    h1 span{
        padding:5px 0 0 0;
    }

    .description{
        font-family:'Open sans', sans-serif;
        padding:0 5%;
        font-size:16px;
        font-weight:0;
        line-height:28px;
    } 

    .button{
        color:#fff;
        font-weight:500;
        border-radius:25px;
        text-decoration:none;
        text-transform:uppercase;
    }
    
    .button-text{
        font-size:18px;
    }
    
    .button:hover{
        background-color:#ffb400;
    }
    
    .button-icon{
        font-size:18px;
        background-color:#ffb400;
        padding:5px 10px 4px 5px;
        border-radius:50%;
    }
}

@media (min-width: 1024px) {
    .home-details-container{
        padding:0%;
    }

    .align-items-center{
        text-align:left;
    }
    .container{
        margin-top:0px;
        padding-top:0px;
        display:flex;
        align-items: center;
    }

    .image{
        width:350px;
        height:400px;
        display:block;
        border-radius:10%;
    }

    h1{
        font-size:40px;
        font-weight:550;
        line-height:39px;
        color:#ffb400;
        font-family: 'Poppins', sans-serif;
        text-transform:uppercase;
    }

    h1 span{
        padding:15px 100px 0 0px;
    }

    .description{
        font-family:'Open sans', sans-serif;
        text-align:left!important;
        padding:0 0 0 15%;
        font-size:16px;
        font-weight:0;
        line-height:36px;
    } 

    .button{
        color:#fff;
        font-weight:500;
        border-radius:25px;
        text-decoration:none;
        text-transform:uppercase;
    }
    
    .button-text{
        font-size:18px;
    }
    
    .button:hover{
        background-color:#ffb400;
    }
    
    .button-icon{
        font-size:18px;
        background-color:#ffb400;
        padding:5px 10px 4px 5px;
        border-radius:50%;
    }
}

@media (min-width: 1200px) {
    .description{
        padding:0 0 0 23%;
    } 
}

@media (min-width: 1400px) {
    .description{
        padding:0 5% 0 28%;
    }
}
